<%= erb :header %>
<%= erb :loggedout_menu %>
<div id="main" class="content">
	<h2 class="huge">Help save the Web.</h2>
	<h3>Join the Battle Against Link Rot</h3>
	<div id="about">
		<p>The Web is dying, one link at a time. Pages disappear, links break, and you become hopelessly lost. BALR&mdash;<strong>Battle Against Link Rot</strong>&mdash;is a way to combat this decay of the Web.</p>
		<h4>How does it work?</h4>
		<p>When you become a registered BALR member, you get access to a Google Chrome extension that helps improve your web browsing experience. Whenever you come across a dead page, a custom BALR error page will show that includes <strong>links to other pages that may be good replacements</strong> for the original missing page.</p>
		<h4>Where do these replacement links come from?</h4>
		<p>They come from you! You and other BALR users are on the front lines of saving the Web and contribute links to replace dead pages. As you do so, you'll <strong>earn points and other achivements</strong> as you help out fellow denizens of the Web. <a href="/signup">Sign up now</a>!</p>
	</div>
</div>
<%= erb :footer %>