<ul class="menu">
	<li class="<%= if @active == 'home' then 'active' else 'inactive' end %>"><a href="/">Home</a></li>
	<li class="<%= if @active == 'signup' then 'active' else 'inactive' end %>"><a href="/signup">Sign Up</a></li>
	<li class="<%= if @active == 'login' then 'active' else 'inactive' end %>"><a href="/login">Log In</a></li>
</ul>