<%= erb :header %>
<%= erb :loggedout_menu %>
<div id="login" class="content">
	<% if @failed_login %>
		<p id="failed_login">Your username or password was incorrect!</p>
	<% end %>

	<p id="account_created" style="display:none;">Your account has been successfully created!</p>

	<p>Please log in to BALR below.</p>

	<form method="post">
		<label for="username">Username</label><br />
		<input type="text" name="username" id="username" /><br /><br />

		<label for="password">Password</label><br />
		<input type="password" name="password" id="password" /><br /><br />

		<input type="submit" value="Log in" />
	</form>
</div>
<script>
if(window.location.search.match(/newaccount/) !== null) {
	document.getElementById('account_created').style.display = 'block';
}
</script>
<%= erb :footer %>