<%= erb :header %>
<%= erb :loggedout_menu %>
<div id="signup" class="content">
	<% if @failed_login %>
		<p>Are you registered yet? We couldn't find your username!</p>
	<% end %>
	<p>Sign up below!</p>
	<form id="signup_form" onsubmit="return false;">
		<label for="username">Username</label><br />
		<input type="text" name="username" /><br /><br />
		<label for="password">Password</label><br />
		<input type="password" name="password" /><br /><br />
		<input type="submit" value="Sign up" />
	</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('#signup_form').submit(function(e) {
		$.ajax({
			url: '<%= options.path %>/new/user',
			type: 'POST',
			data: {
				'username': $('input[name="username"]').val(),
				'password': $('input[name="password"]').val()
			},
			success: function(data) {
				if(data === 'false') {
					alert('That username has already been taken!');
				} else {
					window.location = '/login?newaccount';
				}
			}
		});
	});
});
</script>
<%= erb :footer %>